@import "tailwindcss";


@theme {
    --color-praimary: #00b207
    --color-bageone: #EA4B48
    --color-bagetwo: #2388ff
    --color-gry:#f2f2f2
    --font-pop: "Oswald",sans-serif
    --text-hsize: 32px 
}

